#side-sortables {
	.cx-control-posts {
		flex-wrap: wrap;
		.cx-control__info {
			flex: 0 1 100%;
			padding-right: 0;
			padding-bottom: 0;
			.cx-control__title {
				margin: 0;
			}
		}
		.cx-control__content {
			flex: 0 1 100%;
		}
	}
}