#side-sortables .cx-control-posts{-ms-flex-wrap:wrap;flex-wrap:wrap}#side-sortables .cx-control-posts .cx-control__info{-webkit-box-flex:0;-ms-flex:0 1 100%;flex:0 1 100%;padding-right:0;padding-bottom:0}#side-sortables .cx-control-posts .cx-control__info .cx-control__title{margin:0}#side-sortables .cx-control-posts .cx-control__content{-webkit-box-flex:0;-ms-flex:0 1 100%;flex:0 1 100%}
